:root {
  --primary: rgb(11, 65, 78);
  --pink:rgb(252, 90, 117);
  --primary-010: #999999;

  --white: #fff;

  --black: #10101a;
  --black-010: #19191f;
  --black-terminal: rgb(46, 46, 61);
  --gray: #b3b3c5;
  --gray-010:rgb(214, 214, 214);

  --cv-color: rgba(196, 36, 36, 0.781);
  --linkedin-color: rgba(87, 87, 255, 0.486);
  --hack-color:rgba(0, 204, 0, 0.527);
  --leetcode-color:  rgba(248, 137, 11, 0.685);
}
