<header>
  <img
    src="assets/img/fernando.jpg"
    alt="Fernando Sanches"
    width="150px"
    height="150px"
    loading="eager"
  />
  <h1 class="font-mono">&#123;&lt;Fernando_Sanches&gt;&#125;</h1>
  <h2 class="font-mono">dev: jr;</h2>
</header>

<aside>
  <div class="container">
    <aside class="bg-gray-800 border border-gray-300 text-white rounded-lg font-mono max-w-3xl  m-auto ">
      <div class="flex justify-between items-center">
        <div class="flex space-x-2 text-red-500">
          <div class="w-3 h-3 rounded-full bg-red-500"></div>
          <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
          <div class="w-3 h-3 rounded-full bg-green-500"></div>
        </div>
        <p class="text-sm m-1">bash</p>
      </div>
      <div class="text-left">
        <p class="text-green-400">$ npm install informações</p>
        <p class="text-white">+ maringá - paraná</p>
        <p class="text-white">Laravel | Angular.js | typescript.ts | docker </p>
        <p class="text-white">[######.......] / adding more skills...</p>
        <p class="text-white">added 1 package, and audited 2 packages in 3s</p>
        <p class="text-green-400">$</p>
      </div>
    </aside>


    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primeiro font-mono">
            &lt;-Currículo-&gt;
          </a>
        </li>
        <li>
          <a href="www.linkedin.com/in/fernando-sanches-643122253" target="_blank" class="btn btn-segundo font-mono">
            &lt;-Linkedin-&gt;
          </a>
        </li>
        <li>
          <a href="https://www.hackerrank.com/profile/sanchesfernando1" target="_blank" class="btn btn-terceiro font-mono">
            &lt;-HackerRank-&gt;
          </a>
        </li>
        <li>
          <a href="https://leetcode.com/u/Sanchez42/" target="_blank" class="btn btn-quarto font-mono">
            &lt;-Leetcode-&gt;
          </a>
        </li>

      </ul>
    </nav>
    <section>
      <figure class="bg-gray-800">
        <img src="assets/icons/whatsapp.svg"
        alt="icone para contato do zapzap"
        width="22px"
        height="24px"/>
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5544988337925&text-01%C3%A1%20Fernando%sanches"
            target="_blank"
            class="font-mono">
            Envie_uma_mensagem_para<span class="text-pink-500">:</span>
            <p>whatsapp: (44)988337925<span class="text-white">;</span></p>
          </a>
        </figcaption>
      </figure>
      <figure class="bg-gray-800">
        <img src="assets/icons/mail.svg"
        alt="icone para contato e-mail"
        width="22px"
        height="24px"/>
        <figcaption>
          <a href="mailto:sanchesfernando.work@gmail.com"
          target="_blank"
          class="font-mono">
          Envie_uma_email_para<span class="text-pink-500">:</span>
          <p>sanchesfernando.work&#64;gmail.com<span class="text-white">;</span></p>
        </a>
        </figcaption>
      </figure>

    </section>
  </div>
</aside>

